# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app



# Eclipse
eclipse/SamsHauling/Debug
eclipse/.metadata/
eclipse/SamsHauling/nearest.sol.svg
eclipse/SamsHauling/random.req.svg
eclipse/SamsHauling/random.sol.svg
eclipse/SamsHauling/requests.txt
eclipse/SamsHauling/spoke.sol.svg
eclipse/DistanceDatabaseCreator/Debug
python/examples
eclipse/DistanceDatabaseCreator/.settings
